<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="装配体2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.26169609417182E-18 2.8800952069322E-18 -7.57495733300003E-18"
        rpy="0 0 0" />
      <mass
        value="0.33292" />
      <inertia
        ixx="0.000275879706666667"
        ixy="-2.38336983251116E-21"
        ixz="-2.83089083587523E-20"
        iyy="0.000279874746666667"
        iyz="-1.01943489931655E-22"
        izz="0.000275879706666667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hole/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision concave="yes">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hole/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
